* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: black;
	font-size: 16px;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 50px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

.about {
padding-top: 50px;	
}

ul, li {
	display: block;
	
}

.container {
	width: 1020px;
	margin: 0 auto; 
}

.header {
	background: url('../img/header-bg.jpg') no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 322px
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 216px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 80px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #fff;
    color: #000;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-weight: 400;
	text-align:justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 480px;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-around;
	
}

.gallery img {
	margin: 10px;
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(2, 1, 44, 0.438);
	transform: scale(1.1);
}

.prolog p {
	
	margin-top: 20px;
}

.prolog h3 {
	text-align: center;
	line-height: 1.62em;
	margin-top: 100px;
}

.footer-text p {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#000;
	padding: 20px;
	
}

